<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My SimpleCMS Website</title>

</head>
<body>
	<link rel="stylesheet" href="/styles.css">

	<header>
		<div class="main-header-link"><a  href="">My SimpleCMS Website</a></div>
    </header>

	<nav class="navbar">
        <div class="navbar-toggle" onclick="toggleNav()">&#9776;</div>
        <ul class="navbar-links" id="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/subpage/">Subpage1</a></li>
        </ul>
    </nav>

	<main>
	{%- if title != None %}
    	<div class="article-heading"> {{ title }}</div>
	{% endif  %}

	{%- if publish_date != None and author != None %}
    <div class="author-name"> Authored on {{ publish_date }} by {{ author }} </div>
	{% endif %}

		<section class="text-content">
			{%- for element in body %}
			{%- if element.type == "text" %}
				{%- for value in element.content %}
				<div class="para">
					{{ value }}
				</div>
				{% endfor %}
			{% endif %}

			{%- if element.type == "section-heading" %}
				{%- for value in element.content %}
					<div class="page-section">
					{{ value }}
					</div>
				{% endfor %}
			{% endif %}

			{%- if element.type == "subsection-heading" %}
				{%- for value in element.content %}
				<div class="page-subsection">
					{{ value }}
				</div>
				{% endfor %}
			{% endif %}

			{%- if element.type == "list-ordered" %}
				<ol>
				{%- for value in element.content %}
					<li>{{ value }}</li>
				{% endfor %}
				</ol>
			{% endif %}

			{%- if element.type == "list-unordered" %}
			    {%- if css_class != None %}
				<ul class="{{ element.css_class }}">
				{% else %}
				<ul>
				{% endif %}
				{%- for value in element.content %}
					<li>{{ value }}</li>
					{% endfor %}
				</ul>
			{% endif %}


			{%- if element.type != None and element.type == "postscript-contact-us" %}
				<div class="postscript">
					Require related assistance? <a href="https://forms.office.com/r/yFrYbLpsXg" target="_blank">Contact us</a> today!
				</div>
			{% endif %}

			{%- if element.type != None and element.type == "image" %}
				 <figure>
					<img src="{{ element.url }}" width="{{ element.width }}" height="{{ element.height }}">
					<figcaption>{{ element.caption }}</figcaption>
				</figure>

			{% endif %}

			{%- if element.type != None and element.type == "table" %}
				<table>
				{%- for row in element.content %}
					<tr>
					{%- for col in row %}
						<td>{{ col }}</td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>
			{% endif %}


			{%- if element.type != None and element.type == "comments" %}
				<hr>
				<!-- Add any comments section here-->
			{% endif %}
			{% endfor %}
		</section>
    </main>

    <footer>
        <p>&copy; 2025 ACME Company</p>
    </footer>

</body>
</html>
